<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </layout>
    </appender>

    <!--输出到文件（warn）-->
    <appender name="fileAppenderInfo" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/warn.log" />
        <param name="DatePattern" value=".yyyy-MM-dd-HH'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <!--屏蔽所有org.springframework.*输出的Debug（及以下）信息-->
    <logger name="org.springframework">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有org.eclipse.*输出的Debug（及以下）信息-->
    <logger name="org.eclipse">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有com.alibaba.*输出的Debug（及以下）信息-->
    <logger name="com.alibaba">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有 dozer转换对象时 输出的Debug（及以下）信息-->
    <logger name="org.dozer">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有 对象类型转换时 输出的Debug（及以下）信息-->
    <logger name="org.apache.commons.beanutils.converters">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有 往腾讯云上传文件时 输出的Debug（及以下）信息-->
    <logger name="org.apache.http">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有 Hibernate验证时 输出的Debug（及以下）信息-->
    <logger name="org.hibernate.validator">
        <level value="INFO">
        </level>
    </logger>

    <!--屏蔽所有 mybatis连接时 输出的Debug（及以下）信息-->
    <logger name="org.mybatis">
        <level value="INFO">
        </level>
    </logger>

    <!-- 关闭log4jdbc打印的无关日志 -->
    <logger name="jdbc.sqlonly">
        <level value="OFF">
        </level>
    </logger>

    <!--屏蔽所有 log4jdbc调试时 输出的所有日志-->
    <logger name="log4jdbc.debug">
        <level value="OFF">
        </level>
    </logger>

    <!--  -->
    <logger name="jdbc.audit">
        <level value="OFF">
        </level>
    </logger>

    <!--屏蔽所有 jdbc查询到结果时 输出的所有日志-->
    <logger name="jdbc.resultset">
        <level value="OFF">
        </level>
    </logger>

    <!--屏蔽所有 jdbc发生连接时 输出的所有日志-->
    <logger name="jdbc.connection">
        <level value="OFF">
        </level>
    </logger>

    <!-- 打印完整SQL语句，最低级别日志为DEBUG -->
    <logger name="jdbc.sqltiming">
        <level value="WARN"/>
    </logger>

    <logger name="com.xiniunet">
        <level value="DEBUG"/>
    </logger>

    <!--  屏蔽ZooKeeper的调试日志 -->
    <logger name="org.apache.zookeeper">
        <level value="INFO"/>
    </logger>

    <!--  屏蔽ZooKeeper的调试日志 -->
    <logger name="org.I0Itec.zkclient">
        <level value="INFO"/>
    </logger>

    <!--  屏蔽Dubbo的注册信息 -->
    <logger name="com.alibaba.dubbo.registry">
        <level value="WARN"/>
    </logger>

    <!--  屏蔽Dubbo的连接信息 -->
    <logger name="com.alibaba.dubbo.rpc.protocol">
        <level value="WARN"/>
    </logger>

    <!--  屏蔽Dubbo的Monitor错误信息 -->
    <logger name="com.alibaba.dubbo.monitor.dubbo.DubboMonitor">
        <level value="OFF"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="consoleAppender"/>
        <!-- 开发时建议开启此输出流 -->
        <appender-ref ref="fileAppenderInfo"/>
    </root>
</log4j:configuration>